#This is a Skaffold configuration, which lets developers continuously push new images to their development namespaces.
apiVersion: skaffold/v2beta17
kind: Config
build:
  artifacts:
  - image: gcr.io/broad-dsp-gcr-public/terra-workspace-manager
    context: ../../
    jib:
      project: service
deploy:
  kubectl:
    manifests:
    - terra-helmfile/output/manifests.yaml
    defaultNamespace: terra-ENV
