env:
  db:
    host: ${DB_SERVER_NAME}.postgres.database.azure.com:5432
    url: ${DB_SERVER_NAME}.postgres.database.azure.com
    port: 5432
    user: ${ADMIN_DB_USER_NAME}
    connectToDatabase: ${CONNECT_TO_DATABASE:postgres}
  params:
    newDbUserName: ${NEW_DB_USER_NAME:newuser}
    newDbUserOid: ${NEW_DB_USER_OID:newuseroid}
    newDbName: ${NEW_DB_NAME:newdb}
    databaseNames: ${DATABASE_NAMES:db1,db2,db3}
    namespaceRole: ${NAMESPACE_ROLE}
    managedIdentityOid: ${MANAGED_IDENTITY_OID}
    dumpfileName: ${DUMPFILE_NAME}
    destinationWorkspaceId: ${DEST_WORKSPACE_ID}
    blobstorageDetails: ${BLOBSTORAGE_DETAILS}


spring:
  datasource:
    url: jdbc:postgresql://${env.db.host}/${env.db.connectToDatabase}?authenticationPluginClassName=com.azure.identity.extensions.jdbc.postgresql.AzurePostgresqlAuthenticationPlugin
    username: ${env.db.user}
    hikari:
      maximum-pool-size: 1
