<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--
  This is the basic spring boot config. See:
  https://docs.spring.io/spring-boot/docs/current/reference/html/howto.html#howto-configure-logback-for-logging
  -->
  <property name="LOG_LEVEL_PATTERN" value="%X{requestId} %5p" />
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
