#This is a Skaffold configuration, which lets developers continuously push new images to their development namespaces.
apiVersion: skaffold/v2alpha4
kind: Config
build:
  artifacts:
  - image: gcr.io/terra-kernel-k8s/terra-workspace-manager
    context: ../
    jib: {}
deploy:
  helm:
    releases:
      - name: workspacemanager-ENV
        namespace: terra-ENV
        chartPath: terra-helm/charts/workspacemanager
        values:
          image: gcr.io/terra-kernel-k8s/terra-workspace-manager
        valuesFiles:
          - terra-helmfile/terra/values/workspacemanager.yaml
          - terra-helmfile/terra/values/workspacemanager/personal.yaml
          - terra-helmfile/terra/values/workspacemanager/personal/ENV.yaml
          - values.yaml
