# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Release Promotion Tests

on:
  workflow_dispatch:
    inputs:
      testEnv:
        description: 'Environment in which tests should be run. Currently runs on alpha and staging'
        required: true

jobs:
  release-promotion-tests:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      # Sparse check out terra-helmfile repo version directories
      - uses: ./.github/actions/checkout-helm-versions
        with:
          repository: broadinstitute/terra-helmfile
          ref: master
          token: ${{ secrets.BROADBOT_TOKEN }}
          path: integration/terra-helmfile

      - name: Set env
        id: set-env-step
        run: |
          if ${{ github.event_name == 'workflow_dispatch' }}; then
            ENV=${{ github.event.inputs.testEnv }}
          else
            echo ::error ::${{ github.event_name }} not supported for this workflow
            exit 1
          fi
          echo test-env=$ENV >> $GITHUB_OUTPUT

      - name: Set config files
        id: set-config-files-step
        run: |
          if ${{ steps.set-env-step.outputs.test-env == 'dev' }}; then
            TEST_SERVER=workspace-dev.json
            TEST=suites/dev/FullIntegration.json
          elif ${{ steps.set-env-step.outputs.test-env == 'alpha' }}; then
            TEST_SERVER=workspace-alpha.json
            TEST=suites/alpha/FullIntegration.json
          elif ${{ steps.set-env-step.outputs.test-env == 'staging' }}; then
            TEST_SERVER=workspace-staging.json
            TEST=suites/staging/FullIntegration.json
          else
            echo ::error ::${{ steps.set-env-step.outputs.test-env }} environment not supported for this workflow
            exit 1
          fi
          echo test-server=$TEST_SERVER >> $GITHUB_OUTPUT
          echo test=$TEST >> $GITHUB_OUTPUT

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: v1-${{ runner.os }}-gradle-${{ hashfiles('**/gradle-wrapper.properties') }}-${{ hashFiles('**/*.gradle') }}
          restore-keys: v1-${{ runner.os }}-gradle-${{ hashfiles('**/gradle-wrapper.properties') }}

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Get Vault token
        id: vault-token-step
        env:
          VAULT_ADDR: https://clotho.broadinstitute.org:8200
        run: |
          VAULT_TOKEN=$(docker run --rm --cap-add IPC_LOCK \
            -e "VAULT_ADDR=${VAULT_ADDR}" \
            vault:1.1.0 \
            vault write -field token \
              auth/approle/login role_id=${{ secrets.VAULT_APPROLE_ROLE_ID }} \
              secret_id=${{ secrets.VAULT_APPROLE_SECRET_ID }})
          echo ::add-mask::$VAULT_TOKEN    
          echo vault-token=$VAULT_TOKEN >> $GITHUB_OUTPUT

      - name: Write configuration
        uses: ./.github/actions/write-config
        with:
          target: ${{ steps.set-env-step.outputs.test-env }}
          vault-token: ${{ steps.vault-token-step.outputs.vault-token }}

      - name: Run the integration test suite
        id: integration-test
        if: ${{ always() }}
        uses: ./.github/actions/integration-test
        with:
          test-server: ${{ steps.set-config-files-step.outputs.test-server }}
          test: ${{ steps.set-config-files-step.outputs.test }}

      - name: "Notify QA Slack"
        if: always() && (steps.set-env-step.outputs.test-env == 'alpha' || steps.set-env-step.outputs.test-env == 'staging')
        uses: broadinstitute/action-slack@v3.8.0
        # see https://github.com/broadinstitute/action-slack
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          status: ${{ job.status }}
          channel: "#dsde-qa"
          username: "Workspace Manager ${{ steps.set-env-step.outputs.test-env }} tests"
          author_name: "Workspace Manager ${{ steps.set-env-step.outputs.test-env }} integrationTest"
          fields: repo,job,workflow,commit,eventName,author,took

      - name: Archive WSM and TestRunner logs
        id: archive_logs
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: wsm-and-testrunner-logs
          path: |
            wsm.log
            ${{ steps.integration-test.outputs.results-dir }}
